## Q - 1 : Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [3]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.1.0-py3-none-any.whl (958 kB)
Collecting trio~=0.17
  Downloading trio-0.19.0-py3-none-any.whl (356 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.13.0 outcome-1.1.0 selenium-4.1.0 trio-0.19.0 trio-websocket-0.9.2 wsproto-1.0.0

In [21]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [22]:
driver = webdriver.Chrome(r'C:\Users\Wystre\Desktop\chromedriver.exe')

In [23]:
url = 'https://www.naukri.com/'
driver.get(url)

In [24]:
#find the web element for search job bar using class name

search_job = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_job

In [25]:
# write on searchbar

search_job.send_keys("“Data Analyst")

In [26]:
search_locn= driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [27]:
# write on search bar

search_locn.send_keys("Bangalore")

In [28]:
search_btn= driver.find_element_by_class_name("qsbSubmit")
search_btn

search_btn.click()

## Extract Job-Title

In [31]:
title_tag = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tag)

20

In [32]:

job_titles = []

for i in title_tag :
    job_titles.append(i.text)
    
job_titles

['Senior Data Analyst - Data Modeling/Database Design',
 'Data analyst',
 'Data Analyst',
 'Financial Data Analyst',
 'Data Analyst',
 'OYO Rooms - Data Analyst / Business Analyst',
 'Data Analyst - Python/SQL',
 'Data Analyst - IT',
 'Senior Data Analyst - Collibra',
 'Business Analyst/Data Analyst',
 'Senior Data Analyst - KPO',
 'Consultant - Data Analyst',
 'Lead CLR Data Analyst',
 'Data Analyst',
 'Data analyst',
 'Pipeline/Piping Data Analyst Trainee',
 'Data Analyst',
 'Data Analyst',
 'Lead Business Analyst - Data Science and Advanced Analytics',
 'Senior Data Analyst']

## Extracting job-location

In [35]:
loc_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [36]:
loc_titles = []

for l in loc_tags:
    loc_titles.append(l.text)
    
loc_titles

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(HSR Layout +7)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Remote']

## Extracting  company_name

In [37]:
comp_tags = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')
len(comp_tags)

20

In [40]:
comp_titles = []

for c in comp_tags:
    comp_titles.append(c.text)
    
comp_titles

['K & R Enterprises',
 'GSK India',
 'GSK India',
 "Moody's",
 'Aldius Consulting Services Pvt Ltd (Paramantra)',
 'OyoRooms',
 'Affine',
 'Yespired',
 'Shell',
 'Telamon HR Solutions',
 'Huquo Consulting Pvt. Ltd',
 'Flipkart',
 'Target',
 'National Entrepreneurship',
 'GSK India',
 'TIMS SOLUTIONS PRIVATE LIMITED',
 'Insure Pro 2.0',
 'BERKMEER INDIA PRIVATE LIMITED',
 'Vmware',
 'Liventus']

## Extracting experience_required

In [41]:
expr_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(expr_tags)

20

In [44]:
expr_titles = []

for e in expr_tags:
    expr_titles.append(e.text)

expr_titles

['4-6 Yrs',
 '5-9 Yrs',
 '7-10 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '2-6 Yrs',
 '3-5 Yrs',
 '3-8 Yrs',
 '8-12 Yrs',
 '3-5 Yrs',
 '7-12 Yrs',
 '1-3 Yrs',
 '7-12 Yrs',
 '3-7 Yrs',
 '5-9 Yrs',
 '0-4 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '4-7 Yrs',
 '5-8 Yrs']

In [49]:
naukri_job = pd.DataFrame({'Job Title' : job_titles , 'Location': loc_titles , 'Company Name': comp_titles , 'Exprence' : expr_titles }) 

naukri_job.head(10)

,Job Title,Location,Company Name,Exprence
0,Senior Data Analyst - Data Modeling/Database D...,Bangalore/Bengaluru,K & R Enterprises,4-6 Yrs
1,Data analyst,Bangalore/Bengaluru,GSK India,5-9 Yrs
2,Data Analyst,Bangalore/Bengaluru,GSK India,7-10 Yrs
3,Financial Data Analyst,Bangalore/Bengaluru,Moody's,0-2 Yrs
4,Data Analyst,Bangalore/Bengaluru,Aldius Consulting Services Pvt Ltd (Paramantra),0-2 Yrs
5,OYO Rooms - Data Analyst / Business Analyst,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",OyoRooms,2-6 Yrs
6,Data Analyst - Python/SQL,Bangalore/Bengaluru,Affine,3-5 Yrs
7,Data Analyst - IT,Bangalore/Bengaluru,Yespired,3-8 Yrs
8,Senior Data Analyst - Collibra,Bangalore/Bengaluru,Shell,8-12 Yrs
9,Business Analyst/Data Analyst,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Telamon HR Solutions,3-5 Yrs

## Q - 2 : Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location

In [50]:
url = 'https://www.naukri.com/'
driver.get(url)

In [51]:
#find the web element for search job bar using class name

search_job = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_job

In [52]:
search_job.send_keys("“Data Scientist")

In [53]:
search_locn= driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [55]:
search_locn.send_keys("Bangalore")

In [56]:
search_btn= driver.find_element_by_class_name("qsbSubmit")
search_btn

In [57]:
search_btn.click()

## Extracting job-title

In [58]:
title_tag = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tag)

20

In [59]:

job_titles = []

for i in title_tag :
    job_titles.append(i.text)
    
job_titles

['Global Tax Automation & Operations - Data Scientist Senior Analyst',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Opportunity For Data Scientist Internship - Bengaluru',
 'Louis Dreyfus Company Looking For Data Scientist',
 'GSC Operational Analytics Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Senior Data Scientist/Data Scientist',
 'Data Scientist - Python/ MATLAB/ Machine Learning Algorithms',
 'Data Scientist - Lead / Architect - Looking For Early Joiners - Wipro',
 'Lead Data Scientist',
 'Lead Data Scientist',
 'Lead Data Scientist',
 'Sr. Data Scientist',
 'Senior Data Scientist / Tech Lead - SQL / Python / Big Data',
 'Senior Data Scientist/Tech Lead - SQL/Python/Big Data',
 'Data Scientist / ML Engineer',
 'Data Scientist - Lead / Architect - Looking For Early Joiners - Wipro',
 'Data Scientist - Lead / Architect - Looking For Early Joiners - Wipro',
 'Sr Data Scientist',
 'Data Scientist / Analyst']

## Extracting  job-location

In [62]:
loc_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [63]:
loc_titles = []

for l in loc_tags:
    loc_titles.append(l.text)
    
loc_titles

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Indore, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram, Chennai, Coimbatore, Bangalore/Bengaluru, Mumbai (All Areas), Hyderabad',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra, Gurgaon/Gurugram, Jaipur, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram, Chennai, Coimbatore, Bangalore/Bengaluru, Mumbai (All Areas), Hyderabad',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR']

## Extracting company_name

In [64]:
comp_tags = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')
len(comp_tags)

20

In [65]:
comp_titles = []

for c in comp_tags:
    comp_titles.append(c.text)
    
comp_titles

['Dell',
 'Wrackle Technologies Pvt Ltd',
 'Corner Stone Solutions',
 'Louis Dreyfus Commodities',
 'Intel',
 'IBM',
 'Tredence Analytics Solutions Private Limited',
 'Wrackle Technologies Pvt Ltd',
 'Wipro',
 'NAVIKENZ INDIA PRIVATE LIMITED',
 'Vmware',
 'TransOrg Solutions Services (P) Ltd.',
 'Easy Recruit',
 'Exploro Solutions',
 'Exploro Solutions',
 'AVE-Promagne',
 'Wipro',
 'Wipro',
 'Fragma data systems pvt ltd',
 'Talentify']

In [66]:
naukri_job = pd.DataFrame({'Job Title' : job_titles , 'Location': loc_titles , 'Company Name': comp_titles }) 

naukri_job.head(10)

,Job Title,Location,Company Name
0,Global Tax Automation & Operations - Data Scie...,Bangalore/Bengaluru,Dell
1,Lead Data Scientist - Machine Learning/ Data M...,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd
2,Opportunity For Data Scientist Internship - Be...,"Indore, Bangalore/Bengaluru\n(WFH during Covid)",Corner Stone Solutions
3,Louis Dreyfus Company Looking For Data Scientist,Bangalore/Bengaluru,Louis Dreyfus Commodities
4,GSC Operational Analytics Data Scientist,Bangalore/Bengaluru,Intel
5,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
6,Senior Data Scientist/Data Scientist,"Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru",Tredence Analytics Solutions Private Limited
7,Data Scientist - Python/ MATLAB/ Machine Learn...,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd
8,Data Scientist - Lead / Architect - Looking Fo...,"Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram,...",Wipro
9,Lead Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",NAVIKENZ INDIA PRIVATE LIMITED

## Q - 3

In [67]:
url = 'https://www.naukri.com/'
driver.get(url)

In [68]:
#find the web element for search job bar using class name

search_job = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_job

In [69]:
search_job.send_keys("“Data Scientist")

In [70]:
search_locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [71]:
search_locn.send_keys("Delhi/NCR")

In [72]:
search_btn = driver.find_element_by_class_name("qsbSubmit")
search_btn

In [73]:
search_btn.click()

In [74]:
search_sal = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
search_sal

In [75]:
search_sal.click()

## Extracting Job_titles

In [76]:
title_tag = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tag)

20

In [77]:

job_titles = []

for i in title_tag :
    job_titles.append(i.text)
    
job_titles

['Data Scientist',
 'Data Scientist',
 'Data Scientist | A Fintech Organisation',
 'Opening For Data Scientist',
 'Data Scientist',
 'Data Scientist-Onsite and offshore',
 'Data & Applied Scientist',
 'Data and applied Scientist',
 'Data Scientist',
 'Urgent Requirement || Data Scientist || Noida',
 'Senior Data Scientist',
 'Data Scientist II',
 'Data Scientist',
 'Data Scientist',
 'Lead Data Scientist - KYC/Fraud/Marketing',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Associate Data Scientist']

## Extracting job_location

In [78]:
loc_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [79]:
loc_titles = []

for l in loc_tags:
    loc_titles.append(l.text)
    
loc_titles

['New Delhi',
 'Gurgaon/Gurugram, Chennai\n(WFH during Covid)',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'New Delhi, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Delhi / NCR',
 'Delhi',
 'Delhi / NCR',
 'New Delhi',
 'Noida',
 'New Delhi',
 'Gurgaon, Bengaluru',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru',
 'Delhi',
 'Delhi',
 'Noida']

## Extracting company_name

In [80]:
comp_tags = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')
len(comp_tags)

20

In [81]:
comp_titles = []

for c in comp_tags:
    comp_titles.append(c.text)
    
comp_titles

['CHANGE LEADERS CONSULTING',
 'DECISION POINT PRIVATE LIMITED',
 'Vision Beyond Resources India Private Limited',
 'Care Health Insurance',
 'Alp Consulting Limited',
 'PROKXIMITY',
 'Microsoft',
 'Microsoft',
 'Cloudstrats Technologies Private Limited',
 'HCL',
 'iNICU',
 'Chegg',
 'Boston Consulting Group',
 'Stefanini',
 'Tide Software',
 'BlackBuck',
 'Country Veggie',
 'Mahajan Imaging',
 'Mahajan Imaging',
 'Right Step Consulting']

## Extracting experience_required

In [82]:
expr_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(expr_tags)

20

In [84]:
expr_titles = []

for e in expr_tags:
    expr_titles.append(e.text)

expr_titles

['3-8 Yrs',
 '1-6 Yrs',
 '2-7 Yrs',
 '1-5 Yrs',
 '1-6 Yrs',
 '3-8 Yrs',
 '3-7 Yrs',
 '3-7 Yrs',
 '3-5 Yrs',
 '3-8 Yrs',
 '1-5 Yrs',
 '2-6 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '1-6 Yrs',
 '3-7 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '3-6 Yrs']

In [85]:
naukri_job = pd.DataFrame({'Job Title' : job_titles , 'Location': loc_titles , 'Company Name': comp_titles , 'Exprence' : expr_titles }) 

naukri_job.head(10)

,Job Title,Location,Company Name,Exprence
0,Data Scientist,New Delhi,CHANGE LEADERS CONSULTING,3-8 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Chennai\n(WFH during Covid)",DECISION POINT PRIVATE LIMITED,1-6 Yrs
2,Data Scientist | A Fintech Organisation,Gurgaon/Gurugram,Vision Beyond Resources India Private Limited,2-7 Yrs
3,Opening For Data Scientist,Gurgaon/Gurugram,Care Health Insurance,1-5 Yrs
4,Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Alp Consulting Limited,1-6 Yrs
5,Data Scientist-Onsite and offshore,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",PROKXIMITY,3-8 Yrs
6,Data & Applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Microsoft,3-7 Yrs
7,Data and applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Microsoft,3-7 Yrs
8,Data Scientist,"New Delhi, Delhi / NCR, Mumbai (All Areas)",Cloudstrats Technologies Private Limited,3-5 Yrs
9,Urgent Requirement || Data Scientist || Noida,"Noida, Delhi / NCR",HCL,3-8 Yrs

## Q - 4 : Scrape data of first 100 sunglasses listings on flipkart.com

In [8]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [9]:
driver = webdriver.Chrome(r'C:\Users\Wystre\Desktop\chromedriver.exe')

In [10]:
url1 = 'http://www.flipkart.com/'
driver.get(url1)

In [11]:
search_item= driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_item.send_keys("Sunglasses")

In [12]:
search_btn= driver.find_element_by_class_name('L0Z3Pu')
search_btn

In [13]:
search_btn.click()

In [20]:
page_url = []

url = driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
page_url=page_url[0:3]

In [22]:
brand = []
Description = []
Price = []


for i in page_url:
    driver.get(i)
    titles_brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in titles_brand:
        brand.append(i.text)
        
        
    titles_Description = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in titles_Description:
        Description.append(i.text)
        
        
    titles_Price =driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in titles_Price:
        Price.append(i.text.replace("₹",""))

In [26]:
flipkart_data = pd.DataFrame({'Brand' : brand[0:100] , 'Product_Description' : Description[0:100] , 'Price' : Price[0:100]})
flipkart_data

        Brand                                Product_Description Price
0      GANSTA  UV Protection, Riding Glasses Wayfarer Sunglas...   159
1   Elligator                UV Protection Round Sunglasses (54)   198
2    Fastrack      UV Protection Wayfarer Sunglasses (Free Size)   729
3        SRPM             UV Protection Wayfarer Sunglasses (50)   138
4      SUNBEE  UV Protection, Polarized Wayfarer Sunglasses (...   193
..        ...                                                ...   ...
95    DEIXELS      UV Protection Wayfarer Sunglasses (Free Size)   149
96     PIRASO                   Mirrored Aviator Sunglasses (32)   149
97    Urbanic         Others Retro Square Sunglasses (Free Size)   819
98      NuVew  UV Protection Retro Square, Wayfarer Sunglasse...    98
99  Rich Club                    Polarized Round Sunglasses (48)   106

[100 rows x 3 columns]

## Q - 5 : Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [27]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [28]:
driver = webdriver.Chrome(r'C:\Users\Wystre\Desktop\chromedriver.exe')

In [29]:
url5 = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url5)

In [31]:
review_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span')
review_btn.click()

In [60]:
page_url = []

url = driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
page_url=page_url[0:10]

In [71]:
rating = []
review_s = []
review_v = []

for i in page_url:
    r_rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in r_rating:
        rating.append(i.text)
            
            
    r1_review = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in r1_review:
        review_s.append(i.text)
        
        
    r2_review = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in r2_review:
        review_v.append(i.text)

In [72]:
flipkart_data = pd.DataFrame({'Rating' : rating[0:100] , 'Review summary' : review_s[0:100] , 'Full review' : review_v[0:100]})
flipkart_data

,Rating,Review summary,Full review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,5,Highly recommended,What a camera .....just awesome ..you can feel...
98,4,Good choice,So far it’s been an AMAZING experience coming ...
99,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."

## Q - 6 : Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.

In [73]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [74]:
driver = webdriver.Chrome(r'C:\Users\Wystre\Desktop\chromedriver.exe')

In [75]:
url6 = 'https://www.flipkart.com/'
driver.get(url6)

In [76]:
search_item= driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_item.send_keys("sneakers")

In [78]:
search_btn= driver.find_element_by_class_name('L0Z3Pu')
search_btn.click()

In [89]:
Brand = []
Description = []
Price = []
url = []

for i in range(0,3):
    for j in driver.find_elements_by_xpath("//nav[@class='yFHi8N']"):
        url.append(j.get_attribute('href'))
    for i in range(0,3):
        for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
            Brand.append(i.text)
            
        for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
            Description.append(i.text)
            
        for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
            Price.append(i.text)

In [92]:
f_data = pd.DataFrame({'Brand': Brand[:100], 'Description': Description[:100] , 'Price': Price[:100]})
f_data

,Brand,Description,Price
0,Chevit,494 Perfect Sports Shoes for Running Training ...,₹204
1,Echor,Sneakers For Men,₹449
2,Elevarse,Modern Trendy Sneakers Shoes Sneakers For Men,₹299
3,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹209
4,BRUTON,Combo Pack Of 2 Latest Stylish Casual Shoes fo...,₹374
...,...,...,...
95,RODDICK SHOES,Sports Running Shoes Sneakers For Men,₹374
96,RapidBox,494 Perfect Sports Shoes for Running Training ...,₹630
97,luxury fashion,Sneakers For Men,₹399
98,World Wear Footwear,Modern Trendy Sneakers Shoes Sneakers For Men,₹199
99,Airland,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹198

### Q - 7 :  Go to the link - https://www.myntra.com/shoes ....Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”

In [67]:
import selenium
from selenium import webdriver
import pandas as pd
import time

In [68]:
driver = webdriver.Chrome(r'C:\Users\Wystre\Desktop\chromedriver.exe')

In [69]:
url6 = 'https://www.myntra.com/shoes/'
driver.get(url6)

In [70]:
price_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()

In [71]:
color_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()

In [72]:

Brand = []
Description = []
Price = []
url = []

for i in range(0,2):
    for j in driver.find_elements_by_xpath("//ul[@class='results-base']//a"):
        url.append(j.get_attribute('href'))
    
    for i in range(0,2):
        
        for i in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
            Brand.append(i.text)
        
        for i in driver.find_elements_by_xpath("//h4[@class='product-product']"):
            Description.append(i.text)
        
        for i in driver.find_elements_by_xpath("//div[@class='product-price']//span"):
            Price.append(i.text)
            
        driver.find_element_by_xpath("//li[@class='pagination-next']//a").click()
        time.sleep(4)

In [73]:
myntra_data = pd.DataFrame({'Brand': Brand[:100], 'Description': Description[:100] , 'Price': Price[:100]})
myntra_data

             Brand                     Description               Price
0             Puma       Men Magnify Nitro Running   Rs. 7799Rs. 12999
1             Nike       Men Air Max Dawn Sneakers            Rs. 7799
2             Nike  Men Blazer Court Skateboarding           Rs. 12999
3             Nike      Men Winflo 7 Running Shoes           (40% OFF)
4   Tommy Hilfiger            Men Leather Sneakers           Rs. 10995
..             ...                             ...                 ...
95         Saint G      Women Leather Heeled Boots            Rs. 7999
96  Pavers England             Men Printed Loafers            Rs. 7999
97         Saint G      Women Leather Heeled Boots            Rs. 7990
98            Geox             Men Leather Loafers  Rs. 11470Rs. 13495
99            Geox    Men Striped Leather Sneakers           Rs. 11470

[100 rows x 3 columns]

### Q - 8 : Enter “Laptop” in the search field and then click the search icon..Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [163]:
import selenium
from selenium import webdriver
import pandas as pd
import time

In [164]:
driver = webdriver.Chrome(r'C:\Users\Wystre\Desktop\chromedriver.exe')

In [165]:
url8 = 'https://www.amazon.in/'
driver.get(url8)

In [166]:
search = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys("laptop")

In [167]:
btn = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
btn.click()

In [168]:
i7 = driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a')
i7.click()

In [169]:
Title = []
Price = []

brand_title = driver.find_elements_by_xpath('//span[@class ="a-size-medium a-color-base a-text-normal"]')
for i in brand_title:
    Title.append(i.text)
    
    
brand_price = driver.find_elements_by_xpath('//span[@class ="a-price-whole"]')
for i in brand_price:
    Price.append(i.text)

In [171]:
back_btn= driver.find_element_by_xpath('//*[@id="filters"]/ul[3]/li[1]/span/a/span[2]')
back_btn.click()

In [172]:
i9 = driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a')
i9.click()

In [173]:
Title_1 = []
Price_1 = []

brand_title = driver.find_elements_by_xpath('//span[@class ="a-size-medium a-color-base a-text-normal"]')
for i in brand_title:
    Title_1.append(i.text)
    
    
brand_price = driver.find_elements_by_xpath('//span[@class ="a-price-whole"]')
for i in brand_price:
    Price_1.append(i.text)

In [178]:
i7_data = pd.DataFrame({'Title': Title[:10], 'Price': Price[:10]})
i7_data

                                               Title   Price
0  Mi Notebook Ultra 3.2K resolution display Inte...  77,490
1  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...  92,999
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...  59,990
3  HP Pavilion x360 11th Gen Intel Core i7 14 inc...  86,490
4  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...  96,990
5  LG Gram 14 inches Ultra-Light Intel Evo 11th G...  87,999
6  LG Gram Intel Evo 11th Gen Core i7 17 inches U...  99,499
7  Mi Notebook Horizon Edition 14 Intel Core i7-1...  59,990
8  Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....  89,990
9  Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14...  81,990

In [182]:
i9_data = pd.DataFrame({'Title': Title_1[:10], 'Price': Price_1[:10]})
i9_data

                                               Title     Price
0  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...  1,43,990
1  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...  1,39,990
2  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...  1,44,990
3  HP ZBOOK Power G8/ Intel core i9-11900H 8 Core...  2,43,000
4  (Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...  2,25,000
5  (Renewed) DELL XPS 7590 15.6-inch UHD Display ...  1,75,000
6  HP Zbook - Intel i9, 15 inch(39.6 cm)FHD 400 N...  2,54,563
7  Dell Precision 5550 || i9 -10885H || 16GB || 1...  2,25,000
8  Z2 G5 Workstation 700W /Core i9-10900 (2.8GHz ...  2,39,000
9  HP ZBook Power G8/ Intel Core i9-11950H 2.5GHz...  2,93,000

### Q - 9 : Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida

In [215]:
import selenium
from selenium import webdriver
import pandas as pd

In [221]:
driver = webdriver.Chrome(r'C:\Users\Wystre\Desktop\chromedriver.exe')

In [222]:
url9 = 'http://www.ambitionbox.com/'
driver.get(url9)

In [223]:
jobs = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
jobs.click()

In [224]:
search_job = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search_job.send_keys("Data Scientist")

In [225]:
btn = driver.find_element_by_xpath('//span[@class = "ctas-btn-medium"]')
btn.click()

In [226]:
loc_btn = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]')
loc_btn.click()

In [227]:
search_loc = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_loc.send_keys("Noida")

In [228]:
btn_2 = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
btn_2.click()

In [242]:
C_name = []
N_days = []
Rating = []

name = driver.find_elements_by_xpath("//p[@class = 'company body-medium']")
for i in name:
    C_name.append(i.text)
    
days = driver.find_elements_by_xpath("//span[@class = 'body-small-l']") 
for i in days:
    N_days.append(i.text)

rate = driver.find_elements_by_xpath("//span[@class = 'body-small']")
for i in rate:
    Rating.append(i.text)

In [244]:
Data = pd.DataFrame({'Company Name': C_name[:10], 'Job Posted': N_days[:10], 'Rating': Rating[:10]})
Data

                          Company Name       Job Posted Rating
0           Jubilant Foodworks Limited          16d ago    3.9
1                     HCL Technologies   via naukri.com    3.8
2                               EY GDS          30d ago    3.7
3  Tavant Technologies India Pvt. Ltd.   via naukri.com    4.0
4                Denave India Pvt Ltd.         1mon ago    4.0
5                          EXL Service  via iimjobs.com    3.8
6                         CHT Sapiense          11d ago    3.8
7           Pitney Bowes India Pvt ltd   via naukri.com    4.2
8                                Zyoin          11d ago    4.1
9                 Ameriprise Financial   via naukri.com    4.0

### Q - 10 : Write a python program to scrape the salary data for Data Scientist designation..You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [284]:
import selenium
from selenium import webdriver
import pandas as pd

In [315]:
driver = webdriver.Chrome(r'C:\Users\Wystre\Desktop\chromedriver.exe')

In [316]:
url10 = 'http://www.ambitionbox.com/'
driver.get(url10)

In [317]:
job10= driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
job10.click()

In [318]:

search_job10= driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_job10.send_keys("Data Scientist")

In [321]:
# Clicking the search button
btn_src= driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[2]')
btn_src.click

In [336]:
titles = []
total_sal = []
job_exp = []
job_sal_min = []
job_sal_max = []
job_sal_avg = []


c_name= driver.find_elements_by_xpath('//div[@class="name"]')
for i in c_name:
    titles.append(i.text.splitlines()[0])
    total_sal.append(i.text.splitlines()[1])
    
    
c_exp= driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')  
for i in c_exp:
    job_exp.append(i.text.splitlines()[2])
    
    

c_sal= driver.find_elements_by_xpath('//div[@class="result-col salary-range"]')    
for i in c_sal:
    job_sal_min.append(i.text.splitlines()[0])
    job_sal_avg.append(i.text.splitlines()[1])
    job_sal_max.append(i.text.splitlines()[2])

In [337]:
data = pd.DataFrame({'Company Name' :titles,'Total Salary Record':total_sal,'Experience Required':job_exp,'Minimun Salary':job_sal_min,'Maximum Salary':job_sal_max,'Average Salary':job_sal_avg})
data

,Company Name,Total Salary Record,Experience Required,Minimun Salary,Maximum Salary,Average Salary
0,Walmart,based on 10 salaries,3 yrs exp,₹ 28.7L,₹ 35.0L,₹ 17.7L
1,Ab Inbev,based on 25 salaries,3-4 yrs exp,₹ 20.2L,₹ 25.5L,₹ 15.0L
2,ZS,based on 13 salaries,2 yrs exp,₹ 15.5L,₹ 20.0L,₹ 9.8L
3,Optum,based on 25 salaries,3-4 yrs exp,₹ 15.1L,₹ 21.3L,₹ 11.0L
4,Fractal Analytics,based on 75 salaries,2-4 yrs exp,₹ 15.1L,₹ 22.0L,₹ 9.5L
5,Tiger Analytics,based on 30 salaries,3-4 yrs exp,₹ 14.2L,₹ 18.5L,₹ 9.0L
6,UnitedHealth,based on 51 salaries,2-4 yrs exp,₹ 13.8L,₹ 20.5L,₹ 8.3L
7,Verizon,based on 14 salaries,4 yrs exp,₹ 12.7L,₹ 21.0L,₹ 10.0L
8,Ganit Business Solutions,based on 13 salaries,4 yrs exp,₹ 12.4L,₹ 15.0L,₹ 8.5L
9,Ericsson,based on 43 salaries,3-4 yrs exp,₹ 11.9L,₹ 24.0L,₹ 5.8L

# Thank You : )